@using BugTracker.Models
@model ExtendedRegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BugZapper JS | Registration</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .register-page {
            background-image: url('../../images/pexels-lukas-917463.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="hold-transition register-page">
    <div class="register-box">

        <div class="card">
            <div class="login-logo">
                <img src="~/Images/BugZapLogo.png" alt="BugZap JS Logo" class="brand-image"
                     style="
                    opacity: .8;
                    border-radius: 15%;
                    display: block;
                    width: 25%;
                    display: inline-block;
                    margin-left: auto;
                    /*margin-right: auto*/">
                <b style="display: inline-block; margin-right: auto; font-weight:900">BugZap</b>JS
            </div>
            <div class="card-body register-card-body">
                <section id="loginForm">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new account.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="FirstName" placeholder="FirstName">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="LastName" placeholder="LastName">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" name="Email" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        @*<div class="input-group mb-3">
                            <input type="file" class="form-control, text-right" name="Avatar" placeholder="Avatar">
                            <div class="input-group-append">
                            </div>
                            @Html.ValidationMessageFor(m => m.Avatar, "", new { @class = "text-danger" })
                        </div>*@
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="Password" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div><div class="input-group mb-3">
                            <input type="password" class="form-control" name="ConfirmPassword" placeholder="ConfirmPassword">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-outline-dark btn-block">Register</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    }
                </section>

                <a href="@Url.Action("Login","Account")" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>
</body>
</html>
